[Desktop Entry]
Encoding=UTF-8
Name=Link to Overview
Type=Link
URL=https://newclasses.nyu.edu/portal/site/~ac6868/page-reset/8e2aeb3d-1c7e-433b-9e67-a90247b0c7ab
Icon=text-html
